body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 40px;
    text-align: left;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    padding: 20px;
	width: 70%;
	
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: sticky;
    bottom: 0;
    width: 100%;
	margin-top:20px;

	
}
.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
        }

.gallery img {
	width: 50%; /* Ajustez la largeur selon vos besoins */
	margin-bottom: 20px;
}
figure {
	display: inline-block; /* Permet à plusieurs figures d'être côte à côte */
	text-align: center; /* Aligne le texte à gauche à l'intérieur de la figure */
	margin: 20px auto; /* Ajoute une marge automatique à gauche et à droite pour centrer horizontalement */
 }
 
p {
  font-size: 20px; /* taille du texte en pixels */
}
img{
	width: 40%; 
}
main {
  background-color: #f0f0f0; /* Couleur de fond */
  padding: 10px; /* Ajouter de l'espacement interne */
  margin: 150px; /* Ajouter de la marge extérieure */
  font-family: 'Arial', sans-serif; /* Police de caractères */
  color: #333; /* Couleur du texte */
  border: 1px solid #ccc; /* Bordure */
  box-sizing: border-box;
  
}
